<html>

<head>
	<title>About</title>
</head>

<%- layout( 'layout') %>
	<div class="homeContent">
		<h1>ABOUT<hr></h1>
		<div class="aboutContent">
			<div class="infoLeft">
				<img src="/images/PlaceholderImage.jpg" />
				<h3>The Game</h3>
				<p>Street Fighter IV is a 2008 fighting game produced by Capcom, which co-developed the game with Dimps. It was the first numbered Street Fighter game released by Capcom since 1999.</p>
			</div>
			<div class="hBreak"></div>
			<div class="infoRight">
				<img src="/images/PlaceholderImage.jpg" />
				<h3>The Site Creator</h3>
				<p>Thomas Moore is a fan of Street Fighter IV who attends college at Neumont University in Salt Lake City, Utah. He studies under industry professionals currently to gain a Bachelor's of Science in Web Development.</p>
			</div>
		</div>
	</div>

</html>