<html>
<head>
	<title>Hadoukopedia</title>
</head>
<%- layout( 'layout') %>
	<div class="homeContent">
		<% if(user) {%>
		<div class="calcContainer">
			<div class="calculator">
				<h2>Add a Match</h2>
				<form action="/addMatch" method="post">
					<hr>
					<div class="form-group">
						<label>Result:</label>
						<select name="endResult">
							<option value="WIN">WIN</option>
							<option value="LOSS">LOSS</option>
							<option value="DRAW">DRAW</option>
						</select>
						<label>Character:</label>
						<select id="selectChar" name="characterUsed">
							<% chars.forEach(function (char) { %>
								<option value="<%=char.id%>"><%=char.name%></option>
							<% }); %>
						</select>
						<ul id="addImages">
							<% chars.forEach(function (char) { %>
								<li><img src="<%=char.splash%>"></li>
							<% }); %>
						</ul>
					</div>
					<div class="form-group">
						<label>Rounds:</label>
							<input type="radio" name="rounds" value="1">1
							<input type="radio" name="rounds" value="3" checked>3
							<input type="radio" name="rounds" value="5">5
							<input type="radio" name="rounds" value="7">7
						<label>Regular Wins:</label>
							<input type="radio" name="regularWin" value="0" checked>0
							<input type="radio" name="regularWin" value="1">1
							<input type="radio" name="regularWin" value="2">2
							<input type="radio" name="regularWin" value="3">3
							<input type="radio" name="regularWin" value="4">4
						<label>Perfect Wins:</label>
							<input type="radio" name="perfect" value="0" checked>0
							<input type="radio" name="perfect" value="1">1
							<input type="radio" name="perfect" value="2">2
							<input type="radio" name="perfect" value="3">3
							<input type="radio" name="perfect" value="4">4
						<label>Chip Wins:</label>
							<input type="radio" name="chip" value="0" checked>0
							<input type="radio" name="chip" value="1">1
							<input type="radio" name="chip" value="2">2
							<input type="radio" name="chip" value="3">3
							<input type="radio" name="chip" value="4">4
						<label>Super Wins:</label>
							<input type="radio" name="sCombo" value="0" checked>0
							<input type="radio" name="sCombo" value="1">1
							<input type="radio" name="sCombo" value="2">2
							<input type="radio" name="sCombo" value="3">3
							<input type="radio" name="sCombo" value="4">4
						<label>Ultra Wins:</label>
							<input type="radio" name="uCombo" value="0" checked>0
							<input type="radio" name="uCombo" value="1">1
							<input type="radio" name="uCombo" value="2">2
							<input type="radio" name="uCombo" value="3">3
							<input type="radio" name="uCombo" value="4">4
					</div>
					<button type="submit">Add</button>
				</form>
			</div>
		</div>
		<% }else { %>
			<h3>There was a grave error</h3>
		<% } %>
	</div>
</html>
