<html>

<title>Characters</title>
<%- layout( 'layout' ) %>

	<body>
		<div class="homeContent">
			<div class="mainContent">
				<h1>CHARACTERS</h1>
				<form action="" id="search-form">
					<fieldset>
						<input type="text" id="search-query" name="search" />
						<input type="submit" id="search-submit" value="" />
					</fieldset>
				</form>
				<div class="charList">
				<% chars.sort(); %>
				<% chars.forEach(function (char) { %>
					<div class="eachChar <%=char.id%>">
						<div class="splashContainer"><img class="characterSplash" src="<%=char.splash%>"></div>
						<strong>
							<button onclick="toggleInfo('<%= char.id %>')" class="showCharacter"><%= char.name %></button>
						</strong>
					</div>
					<div id="<%=char.id%>" class="singleChar">
						<div class="charClose" onclick="charClose('<%=char.id%>')"><button id="hideCharacter">X</button></div>
						<h2><%=char.name%></h2>
						<h4>"<%=char.quote%>"</h4>
						<hr>
						<div class="charNav">
							<ul>
								<li id="charBio" onclick="charBio('<%=char.id%>')">Biography</li>
								<li id="charAttacks" onclick="charAttacks('<%=char.id%>')">Attacks</li>
								<li id="charCostumes" onclick="charCostumes('<%=char.id%>')">Costumes</li>
							</ul>
						</div>
						
						<hr>
						<div class="charInfo charInfo<%=char.id%>">
							<img class="charImage" src="<%=char.art%>">
							<p id="bio"><%= char.bio %></p>
						</div>
						
						<table class="attacks<%=char.id%>">
							<tr>
								<th>Name</th>
								<th>Light DMG</th>
								<th>Medium DMG</th>
								<th>Heavy DMG</th>
								<th>EX DMG</th>
							</tr>
							<% for(var i=0; i<char.attacks.length; i++) {%>
							<tr>
								<td><%= char.attacks[i].name %></td>
								<% if(char.attacks[i].lightDamage === undefined){ %>
									<% char.attacks[i].lightDamage = "-" %><% } %>
								<% if(char.attacks[i].mediumDamage === undefined){ %>
									<% char.attacks[i].mediumDamage = "-" %><% } %>
								<% if(char.attacks[i].heavyDamage === undefined){ %>
									<% char.attacks[i].heavyDamage = "-" %><% } %>
								<% if(char.attacks[i].exDamage === undefined){ %>
									<% char.attacks[i].exDamage = "-" %><% } %>
								<td><%= char.attacks[i].lightDamage %></td>
								<td><%= char.attacks[i].mediumDamage %></td>
								<td><%= char.attacks[i].heavyDamage %></td>
								<td><%= char.attacks[i].exDamage %></td>
							</tr>
							<% } %>
						</table>
						
						<div class="costumes costumes<%=char.id%>">
							<% for(var i=0; i<char.costumes.length; i++) {%>
								<img id="mainImage" src="<%=char.costumes[i].image%>">
							<% } %>
							<div id="thumbs">
								<% for(var i=0; i<char.costumes.length; i++) {%>
									<% for(var j=0; j<char.costumes[i].colors.length; j++) {%>
										<img onclick="changeColor('<%=char.costumes[i].colors[j]%>')" class="color color<%=i%><%=j%>" src="<%=char.costumes[i].colors[j]%>">
									<% } %>
								<% } %>
							</div>
						</div>
					</div>
				<% }); %>
				</div>
			</div>
		</div>
	</body>
</html>