<html>

<head>
	<title>Error</title>
</head>

<%- layout( 'layout') %>

	<div class="homeContent">
		<div class="aboutContent">
			<h1>I am sorry, but there was an error.</h1>
		</div>
	</div>

</html>