<html>

<head>
	<title>Hadoukopedia</title>
</head>

<%- layout( 'layout') %>
	<div class="slideshow">
		<div class="buttons">
			<img src="/images/Slider/slideLeft.jpg" onmouseout="this.src = '/images/Slider/slideLeft.jpg'" onmouseover="this.src = '/images/Slider/slideLeftHover.jpg'" class="prev" alt="Previous" />
			<img src="/images/Slider/slideRight.jpg" onmouseout="this.src = '/images/Slider/slideRight.jpg'" onmouseover="this.src = '/images/Slider/slideRightHover.jpg'" class="next" alt="Next" />
		</div>
		<div class="img-wrap">
			<img src='/images/Slider/slider1.jpg' />
			<img src='/images/Slider/slider2.jpg' />
			<img src='/images/Slider/slider3.jpg' />
		</div>
	</div>

	<div class="homeContent">
		<div class="welcome">
			<h1>Welcome to Hadoukopedia</h1>
			<h3>- Your source for Street Fighter IV -</h3>
		</div>
	</div>

</html>