<html>

<head>
	<meta name="viewport" content="width=device-width">
	<link rel='stylesheet' href='/stylesheets/reset.css' />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href='/javascripts/jquery.bxslider/jquery.bxslider.css'/>
</head>

<body>
	<header>
		<div class="loginLinks">
			<ul>
				<% if (user) { %>
					<li>
						<a href="/profile">Profile</a>
					</li>
					<li>
						<a href="/logout">Logout</a>
					</li>
				<% } else { %>
					<li>
						<a href="#register-box" class="register-window">Register</a>
					</li>
					<li>
						<a href="#login-box" class="login-window">Login</a>
					</li>
				<% } %>
			</ul>
		</div>
		<div class="logo">
			<a href='/'>
				<img src='/images/Hadoukopedia_logo.png' />
			</a>
		</div>
		<hr>
		<nav class="homeLinks">
			<ul>
				<li><a href="/characters">Characters</a></li>
				<li><a href="/stages">Stages</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/purchase">Purchase</a></li>
			</ul>
		</nav>
	</header>
	
	<div class="login-popup" id="login-box">
		<a href="#" class="close">X</a>
		<h3>Login</h3>
		<hr>
		<!--Login Form-->
		<form action="/login" method="post">
			<div class="form-group">
				<label>Username: </label>
				<input type="text" name="username" id="logUser" placeholder="Username">
			</div>
			<div class="form-group">
				<label>Password: </label>
				<input type="password" name="password" placeholder="Password">
			</div>
			<div class="form-group">
				<button id="log" type="submit">Login</button>
			</div>
		</form>
	</div>
	
	<div class="register-popup" id="register-box">
		<a href="#" class="close">X</a>
		<h3>Register</h3>
		<hr>
		<form action="/register" method="post">
			<div class="form-group">
				<label>Username: </label>
				<input type="text" name="username" id="regUser" placeholder="Username">
			</div>
			<div class="form-group">
				<label>Quote: </label>
				<input type="text" name="quote" placeholder="Quote">
			</div>
			<div class="form-group">
				<label>Bio: </label>
				<textarea name="bio" placeholder="Your Bio"></textarea>
			</div>
			<div class="form-group">
				<label>Password: </label>
				<input type="password" name="password" placeholder="Password">
			</div>
			<div class="form-group">
				<button id="reg" type="submit">Register</button>
			</div>
		</form>
	</div>
	
	<%- body %>

		<footer><p>This site is made purely for academic purposes. All rights to Street Fighter and it's properties belong to Capcom.</p></footer>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="/javascripts/effects.js"></script>
	<script src="/javascripts/updateModal.js"></script>
	<script src="/javascripts/jquery-ui.min.js"></script>
	<script src="/javascripts/jquery.bxslider/jquery.bxslider.min.js"></script>
</body>

</html>