<html>

<head>
	<title>Matches</title>
</head>

<%- layout( 'layout') %>

	<div class="homeContent">
		<div class="mainContent">
			<div class="matchLink"><a href="/addMatch">Add a Match</a></div>
			<div class="matches">
				<% matches.forEach(function (match) { %>
					<div class="eachMatch <%=match.id%>">
						<button onclick="toggleMatch('<%= match.id %>')" class="showMatch">
							<strong><%=match.characterUsed%></strong>
						</button>
					</div>
					<div id="<%=match.id%>" class="singleMatch">
						<div class="matchClose" onclick="matchClose('<%=match.id%>')"><button id="hideCharacter">X</button></div>
						<h3><%=match.date%></h3>
						<hr>
						<table class="matchDetails">
							<tr>
								<th>Result</th>
								<td><%=match.endResult %></td>
							</tr>
							<tr>
								<th>Date</th>
								<td><%= match.date %></td>
							</tr>
							<tr>
								<th>Character Used</th>
								<td><%=match.characterUsed %></td>
								<!--<img src="<%=match.characterID%>">-->
							</tr>
							<tr>
								<th>Tips</th>
								<td>
								<% if(match.characterTips === null) { %>
									<% match.characterTips = "none" %>
								<% } %>
									<%=match.characterTips%>
								</td>
							</tr>
							<tr>
								<th>Rounds</th>
								<td><%=match.rounds %></td>
							</tr>
							<tr>
								<th>Perfects</th>
								<td><%=match.perfect %></td>
							</tr>
							<tr>
								<th>Chips</th>
								<td><%=match.chip %></td>
							</tr>
							<tr>
								<th>Super Combos</th>
								<td><%=match.sCombo %></td>
							</tr>
							<tr>
								<th>Ultra Combos</th>
								<td><%=match.uCombo %></td>
							</tr>
						</table>
					</div>
				<% }); %>
			</div>
		</div>
	</div>

</html>