<html>

<head>
	<title>
		<%=user.username%>'s profile
	</title>
</head>

<%- layout( 'layout') %>

	<body>
		<div class="container">
			<div class="userInfo">
<!--
				<div class="profileLeft">
					<img src="/images/PlaceholderImage.jpg" />
					</div>
				</div>
-->
				<div class="profile">
					<h1><%=user.username%></h1>
					<span class="quote">"<%=user.quote%>"</span>
					<p class="bio"><%=user.bio%></p>
					<a href="#editProfile" class="updateProfile">Edit</a>
					<div class="editProfile" id="editProfile">
						<a href="#" class="close">X</a>
						<h3>Edit</h3><hr>
						<form action="/update/<%{user._id}%>" method="post" accept-charset="utf-8">
							<div class="form-group">
								<label>Name:</label>
								<input type="text" id="editName" name="name" placeholder="Name">
							</div>
							<div class="form-group">
								<label>Bio:</label>
								<input type="text" name="bio" placeholder="Bio">
							</div>
							<div class="form-group">
								<label>Quote:</label>
								<input type="text" name="quote" placeholder="Quote">
							</div>
							<div class="form-group">
								<button type="submit" class="updateButton">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="homeContent">
			<div class="mainContent">
			<% if(user.matches.length === 0) {%>
				<p class="noMatches">You Have No Matches</p>
			<% } %>
				<div class="matchLink"><a href="/addMatch">Add a Match</a></div>
				<div class="matches">
				<% for(var i=0; i<user.matches.length; i++) {%>
					<p>IM A MATCH</p>
				<% } %>
				<% matches.forEach(function (match) { %>
					<div class="eachMatch <%=match.id%>">
						<button onclick="toggleMatch('<%= match.id %>')" class="showMatch">
							<strong><%=match.charUsed.name%></strong>
						</button>
					</div>
					<div id="<%=match.id%>" class="singleMatch">
						<div class="matchClose" onclick="matchClose('<%=match.id%>')"><button id="hideCharacter">X</button></div>
						<h3><%=match.date%></h3>
						<hr>
						<table class="matchDetails">
							<tr>
								<th>Result</th>
								<td><%=match.endResult %></td>
							</tr>
							<tr>
								<th>Date</th>
								<td><%= match.date %></td>
							</tr>
							<tr>
								<th>Character Used</th>
								<td><%=match.charUsed.name %>
								<img src="<%=match.charUsed.splash%>"></td>
								<!--<img src="<%=match.characterID%>">-->
							</tr>
							<tr>
								<th>Tips</th>
								<td><ul class="tips">
								<% for(var i=0; i<match.charUsed.tips.length; i++) {%>
									<li><span><%=match.charUsed.tips[i]%></span></li>
								<% } %>
								</ul></td>
							</tr>
							<tr>
								<th>Rounds</th>
								<td><%=match.rounds %></td>
							</tr>
							<tr>
								<th>Perfects</th>
								<td><%=match.perfect %></td>
							</tr>
							<tr>
								<th>Chips</th>
								<td><%=match.chip %></td>
							</tr>
							<tr>
								<th>Super Combos</th>
								<td><%=match.sCombo %></td>
							</tr>
							<tr>
								<th>Ultra Combos</th>
								<td><%=match.uCombo %></td>
							</tr>
						</table>
					</div>
				<% }); %>
				</div>
			</div>
		</div>
	</body>

</html>