<html>

<head>
	<title>Hadoukopedia</title>
</head>

<%- layout('layout') %>
<div class="homeContent">
	<div class="purchaseContent">
		<h1>PURCHASE<hr></h1>
		<ul>
			<li><a href="http://www.amazon.com/Super-Street-Fighter-IV-Edition-Playstation/dp/B002I0J5NI/ref=sr_1_3?ie=UTF8&qid=1401248834&sr=8-3&keywords=ultra+street+fighter+4"><img src="/images/purchase/amazon.jpg"/> </a></li>
			
			<li><a href="http://www.gamestop.com/browse?nav=16k-Ultra+Street+Fighter+IV"><img src="/images/purchase/gameStop.jpg"/> </a></li>
			
			<li><a href="http://store.steampowered.com/app/301660/"><img src="/images/purchase/steam.jpg"/> </a></li>
			
			<li><a href="http://www.bestbuy.com/site/searchpage.jsp;jsessionid=FF79A3FA81548A268CA89599DDA7B9A0.bbolsp-app02-136?_dyncharset=UTF-8&_dynSessConf=1285372627333532755&id=pcat17071&type=page&ks=960&st=ultra+street+fighter&sc=Global&cp=1&sp=&qp=soldby_facet%3DSAAS~Sold+By~Best+Buy&list=y&usc=All+Categories&nrp=15&fs=saas&iht=n&seeAll="><img src="/images/purchase/bestBuy.jpg"/> </a></li>
			
			<li><a href="http://www.playstation.com/en-us/games/ultra-street-fighter-iv-ps3"><img src="/images/purchase/psn.jpg"/> </a></li>
			
			<li><a href="http://marketplace.xbox.com/en-US/Product/Ultra-Street-Fighter-IV/0cebe5af-d64d-45a7-9837-592835dd5591"><img src="/images/purchase/xbox.jpg"/> </a></li>
		</ul>
	</div>
</div>

</html>