<html>

<head>
	<title>Hadoukopedia</title>
</head>

<%- layout('layout') %>
<div class="homeContent">
	<h1>STAGES<hr></h1>
	<div class="mainContent">
		<div class="stageList">
		<% stages.forEach(function (stage) { %>	
			<div class="eachStage <%=stage.id%>">
				<div class="splashContainer"><img class="characterSplash" src="/Assets/images/PlaceholderImage.jpg"></div>
				<strong>
					<button onclick="toggleStage('<%= stage.id %>')" class="showStage"><%= stage.name %></button>
				</strong>
			</div>
			<div id="<%=stage.id%>" class="singleStage">
				<div class="stageClose" onclick="stageClose('<%=stage.id%>')"><button id="hideStage">X</button></div>
				<p><%=stage.desc %></p>
			</div>
		<% }); %>
		</div>
	</div>
</div>
</html>