html {
	font-size: 62.5%;
	font-family: 'Open Sans', 'sans-serif';
	height: 100%;
}
body {
	font-size: 16px;
	background-color: #db4c27;
	height: 100%;
}
/*Custom Font*/

@font-face {
	font-family: SF;
	src: url("SSF4_ABUKET.eot?")format("eot"), url("SSF4_ABUKET.woff")format("woff"), url("SSF4_ABUKET.ttf")format("truetype"), url("SSF4_ABUKET.svg#")format("svg");
	font-weight: normal;
	font-style: normal;
}
header {
	width: 100%;
	display: inline-block;
	background-color: #000;
	margin-bottom: 30px;
}
h1,
.login-popup h3,
.register-popup h3,
.editProfile h3{
	padding-top: 20px;
	text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
	font-family: SF, sans-serif;
	text-align: center;
	color: #fff;
}
h2 {
	padding: 20px;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	font-family: SF, sans-serif;
	text-align: center;
	color: #fff;
}
table {
	text-align: center;
	width: 90%;
	color: #fff;
	display: none;
	margin: 0 auto;
	background: #333;
}
tr{
	border: 2px solid #fff;
}
th {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	padding: 20px 20px 20px 10px;
}
td {
	padding: 15px 0px 15px;
	border: 2px solid #fff;
}
img {
	border: 1px solid #000;
}
label {
	width: 50%;
	text-align: center;
	margin-right: 15px;
	white-space: nowrap;
}
select {
	width: 200px;
}
.logo {
	width: 500px;
	height: 150px;
	margin: 0 auto;
}
.logo img {
	border: none;
	width: 400px;
	height: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*///////////////*/
/*Login/Register*/
.loginLinks {
	margin-right: 100px;
}
.loginLinks ul li {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}
.loginLinks ul li a {
	display: inline-block;
}
.login-popup,
.register-popup,
.editProfile{
	width: 30%;
	display: none;
	float: left;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #6c6c6c;
	padding: 10px;
	font-size: 22px;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	border: 2px solid #ddd;
	border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: 0px 0px 20px #999;
	-webkit-box-shadow: 0px 0px 20px #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.form-group {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.login hr {
	width: 70%;
}

/*//////////*/
/*Slideshow*/
.slideshow {
	width: 85%;
	max-width: 1100px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #000;
	background-color: 6c6c6c;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
	position: relative;
}
.img-wrap {
	position: relative;
}
.buttons {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 30%;
}
.next,
.prev {
	width: 4%;
	min-height: 80px;
	max-width: 64px;
	position: absolute;
	cursor: pointer;
	z-index: 1;
}
.next {
	background: url('/Assets/images/Slider/slideRight.jpg');
	right: 5%;
}
.prev {
	background: url('/Assets/images/Slider/slideLeft.jpg');
	left: 5%;
}
.next:hover {
	background: url('/Assets/images/Slider/slideRightHover.jpg');
	border: 1px solid #6c6c6c;
}
.prev:hover {
	background: url('/Assets/images/Slider/slideLeftHover.jpg');
	border: 1px solid #6c6c6c;
}
.img-wrap img {
	width: 90%;
	max-width: 900px;
	max-height: 350px;
	display: block;
	margin: 0 auto;
}

/*//////*/
/*Index*/
.homeContent {
	width: 90%;
	background-color: 6c6c6c;
	text-align: center;
	margin-bottom: 30px;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px solid black;
	margin-bottom: 30px;
}
.welcome {
	text-align: center;
	width: 100%;
	padding-bottom: 50px;
	padding-top: 25px;
}
.homeContent hr {
	width: 90%;
}
.homeLinks {
	border-bottom: 1px solid #fff;
	padding-bottom: 15px;
}
.homeLinks ul li {
	display: inline-block;
	width: 17%;
	max-width: 275px;
}
.homeLinks ul {
	text-align: center;
}
.homeLinks ul li a {
	padding: 10px;
	font-size: 22px;
	color: #FFF;
}
.homeLinks ul li a:hover,
.homeLinks ul li a:active {
	background-color: #252525;
	color: #FFF;
	border-radius: 10px;
	text-decoration: none;
}

/*////////*/
/*Matches*/
.matchLink {
	text-align: center;
}
.noMatches{
	text-align: center;
	font-size: 32px;
}
.matchDetails{
	display: inherit;
}
.tips{
	line-height: 2;
	margin-left: 15%;
}
.tips li{
	list-style: initial;
	text-align: left;
	width: 90%;
}
.tips li span{
	position:relative;
	left:-6px;
}
.eachMatch{
	color: #FFF;
	width: 30%;
	max-width: 250px;
	padding: 15px 15px;
	margin:30px 10px;
	background-color: #333;
	display: inline-block;
	text-align: center;
}
.matchLink a {
	border-radius: 6px;
	padding: 5px 15px;
	background: #F87E05;
	color: #000;
	font-size: 24px;
	margin: 0 auto;
}
.matches{
	margin: 0 auto;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}
.showMatch{
	width: 78%;
}
.matches ul li a {
	font-size: 16px;
	border-radius: 30px;
}
.matches ul li a:hover {
	font-weight: 700;
	border-radius: 30px;
}
.matches h3 {
	text-align: center;
}
.mainContent {
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	text-align: left;
}

/*/////////*/
/*Purchase*/
.purchaseContent {
	width: 100%;
	margin-top: 20px;
	padding-bottom: 35px;
}
.purchaseContent ul {
	width: 100%;
}
.purchaseContent ul li {
	display: inline-block;
	margin: 20px;
	width: 28%;
	max-width: 350px;
}
.purchaseContent ul li a img {
	background: #fff;
	padding: 10px;
}

/*///////////*/
/*Characters*/
.charList,
.stageList {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.eachChar,
.eachStage {
	color: #FFF;
	width: 20%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 30px 10px 30px 20px;
	margin-bottom: 10px;
	background-color: #333;
	display: inline-block;
	text-align: center;
}
.splashContainer {
	width: 100%;
	padding-bottom: 10px;
}
.characterSplash,
.stageSplash {
	width: 80%;
	max-width: 350px;
	margin: 0 auto;
}
.charNav {
	width: 100%;
	margin: 0 auto;
}
.charNav ul {
	text-align: center;
}
.charNav ul li {
	text-align: center;
	display: inline-block;
	width: 23%;
	font-size: 20px;
	padding: 10px;
	color: #FFF;
	cursor: pointer;
}
.charNav ul li:hover,
.charNav ul li:active {
	background-color: #252525;
	color: #FFF;
	border-radius: 10px;
	text-decoration: none;
}
.charInfo {
	width: 90%;
	margin: 0 auto;
	left: 10%;
	right: 10%;
}
.charImage {
	float: left;
	width: 40%;
	max-width: 350px;
	margin-right: 20px;
	border: 10px solid #000;
}
#costumeImage{
	
}
#selectCostume{
	color: #000;
}
#thumbs{
	width: 90%;
	margin: 0 auto;
	cursor: pointer;
}
#thumbs img{
	width: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
}
#thumbs img:hover{
	border: 3px solid #fff;
}
/*//////*/
/*About*/
.aboutContent {
	width: 100%;
	margin-top: 20px;
	padding-bottom: 150px;
}
.hBreak {
	width: 90%;
	margin: 0 auto;
	padding-top: 20%;
	border-bottom: 1px solid #fff;
}
.infoLeft,
.infoRight {
	height: 250px;
	width: 100%;
}
.infoRight p,
.infoLeft p {
	text-indent: 40px;
	text-align: left;
	color: #fff;
}
.infoLeft p {
	margin-right: 30px;
}
.infoRight p {
	margin-left: 30px;
}
.infoLeft h3,
.infoRight h3 {
	color: #fff;
	padding-top: 30px;
}
.infoLeft img {
	float: left;
	width: 40%;
	max-width: 350px;
	margin: 30px 30px 30px 45px;
	border-radius: 10px;
}
.infoRight img {
	float: right;
	width: 40%;
	max-width: 350px;
	margin: 30px 45px 30px 30px;
	border-radius: 10px;
}

/*////////*/
/*Profile*/
.quote {
	font-size: 20px;
	font-style: italic;
}
.bio{
	padding-top: 20px;
	padding-bottom: 30px;
}
.container {
	min-width: 50%;
	max-width: 600px;
	background-color: 6c6c6c;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-radius: 10px;
	border: 1px solid #000;
}
.profile{
	text-align: center;
}
.profile p{
	width: 50%;
	margin: 0 auto;
}
.profileLeft {
	min-width: 45%;
	max-width: 550px;
	float: left;
	margin-left: 10px;
}
.profileLeft img {
	width: 300px;
	height: 300px;
}
.profileRight {
	width: 50%;
	float: right;
	margin-right: 10px;
}

/*///////////*/
/*Calculator*/
.calcContainer {
	display: inline-block;
	padding-bottom: 30px;
}
.calculator form {
	display: inline-block;
	margin-left: 100px;
	margin-right: 100px;
}

/*///////*/
/*Footer*/
footer {
	clear: both;
	position: relative;
	z-index: 10;
	width: 100%;
	height: 70px;
	background: #000;
	text-align: center;
	color: #fff;
}
footer p {
	padding-top: 15px;
}

/*///////*/
/*Jquery*/
.singleChar,
.singleStage,
.singleMatch {
	width: 90%;
	background: #333;
	color: #fff;
	padding: 25px 15px 25px 15px;
	display: none;
	margin: 0 auto;
}
.singleChar h2 {
	margin-top: 0;
}
.singleChar h4 {
	font-style: italic;
}
.showCharacter,
.updateProfile,
.updateButton,
.showStage,
.showMatch,
#log,
#reg {
	border: 0;
	border-radius: 6px;
	padding: 5px 15px;
	background: #F87E05;
	color: #000;
	margin: 0 auto;
}
.showCharacter:hover,
.showStage:hover,
.showMatch:hover,
.updateProfile:hover,
.updateButton:hover,
#log:hover,
#reg:hover {
	border: 0;
	border-radius: 6px;
	padding: 5px 15px;
	background: #FDD229;
	color: #000;
}
.charClose,
.updateClose,
.matchClose,
.stageClose {
	width: 90%;
	text-align: right;
	margin: 0 auto;
}
#hideCharacter,
#hideStage {
	border: 0;
	border-radius: 6px;
	padding: 5px 15px;
	background: #FF1000;
	font-weight: 700;
	color: #000;
	margin-right: 0;
}
#hideRegister,
#hideLogin {
	margin-right: 40px;
	margin-bottom: -10px;
}
#hideCharacter:hover,
#hideStage:hover {
	background: #FF584D;
}
#bio {
	text-indent: 40px;
	text-align: left;
	line-height: 2;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	background: #000;
}
#addImages {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}
#addImages li {
	display: none;
	margin-left: 60%;
}
#addImages li img {
	width: 70%;
}
#mask {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 999;
}
.close {
	border-radius: 6px;
	padding: 5px 15px;
	background: #FF1000;
	font-weight: 700;
	color: #FFF;
	margin-right: 0;
	opacity: .8;
	color: #000;
}
.close:hover {
	background: #FF584D;
}

@media all and (max-width: 1920px) and (min-width: 1200px) {
	.aboutContent {
		width: 100%;
		height: 600px;
		margin-top: 20px;
		padding-bottom: 30px;
	}
	.hBreak {
		display: none;
	}
	.infoLeft,
	.infoRight {
		width: 49%;
		height: 580px;
	}
	.infoLeft {
		float: left;
		border-right: 2px solid #fff;
	}
	.infoRight {
		float: right;
	}
	.infoRight p,
	.infoLeft p {
		margin: 10px 30px;
	}
	.infoLeft h3,
	.infoRight h3 {
		color: #fff;
		padding-top: 30px;
		margin: 0 auto;
	}
	.infoLeft img,
	.infoRight img {
		width: 65%;
		float: none;
		max-width: 350px;
		border-radius: 10px;
		margin: 0 auto;
	}
	.infoLeft img {
		margin: 30px 30px 30px 45px;
	}
	.infoRight img {
		margin: 30px 45px 30px 30px;
	}
}